* {
    padding: 0;
    margin: 0;
}

html {
    background-color: #2f2f2f;
    color:white;
    zoom: 175%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

#MOutput {
    height: 21px;
}

input {
    border: none;
    margin:2px;
    padding: 3px 9px;
    color: white;
    background: rgb(100, 100, 100);
}

container {
    width:200px;
}

container input {
    width: calc(100% - 4px);
}

container .buttons {
    display: flex;
}

article {
    width: 390px;
    overflow: auto;
    height: 25%;
    padding: 10px;
    background-color: #1a1a1a;
}

input:hover {
    background: rgb(75, 75, 75);
}

input:active {
    background: rgb(150, 150, 150);
}

a {
    cursor:pointer;
    color:#6cadff;
}

a:hover {
    color: #7766ff;
}